.info-poster {
	float: right;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
	margin: 0 2em;
	max-width: 30%;
    height: auto;
	max-height: 470px;
	margin-bottom: 1em;
}

#info-list {
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#info-list p:not(.info-title):not(.info-full-title) {
	margin: 1em 0;
}

.clearfix {
	background-color: rgba(201, 201, 201, 0.438);
	padding: 2rem;
	padding-top: 1rem;
	outline: 1px solid rgb(184, 184, 183);
	outline-offset: -10px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.info-title {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: underline;
}

.info-year::before {
	content: "Год:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(49, 10, 17);
}

.info-genre::before {
	content: "Жанр:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(49, 10, 17);
}

.info-director::before {
	content: "Режиссер:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(27, 16, 85);
}

.info-casting::before {
	content: "В ролях:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(14, 48, 11);
}

.info-info::before {
	content: "Описание:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(99, 81, 4);
}

.info-time::before {
	content: "Продолжительность:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(49, 10, 17);
}

.info-size::before {
	content: "Размер:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(19, 24, 70);
}

.info-peers::before {
	content: "Пиры:";
	margin-right: 1ch;
	font-weight: bold;
	color: rgb(46, 45, 59);
}

.info-full-title {
	font-style: italic;
	text-align: center;
	font-size: 0.9rem;
	color: gray;
	margin-top: 0px;
}

.info-btn-holder {
	clear: both;
	display: flex;
	bottom: 0.5em;
	margin-right: 1em;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.alt {
    background-color: rgb(203, 212, 210);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: .8rem;
	padding-top: .5rem;
	padding-bottom: .7rem;
 }  

.alt p {
	font-weight: bold;
	padding: .7rem 5rem;
	text-decoration: underline;

}

.alt-links {
    list-style-type: none;
    padding-bottom: .5rem;
}

.alt-links li{
    text-align: left;
    padding: 0.3rem 2rem;
    
}

.alt-links li:hover {
	color: rgb(19, 12, 59);
	text-shadow: rgb(64, 69, 143) 1px 1px 10px;
}


